name: 'Dependabot Alerts Action'

on:
  workflow_dispatch:
  schedule:
    - cron: '00 00 * * *' # 00 00 indicates midnight--0 minutes and 0 hours--and the *s mean every day of every month
  push:
    branches:
      - main

jobs:
  main:
    runs-on: ubuntu-latest
    steps:
      # X.X.X - Latest version available at: https://github.com/kunalnagarco/action-cve/releases
      - uses: kunalnagarco/action-cve@v1.12.36
        with:
          token: ${{ secrets.PERSONAL_ACCESS_TOKEN }}
          slack_webhook: ${{ secrets.SLACK_WEBHOOK }}
          count: 10
